@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

$c-green: #829d19;
$c-grey: #2b2b2b;
$font-r: 400 1rem/1.5 "Raleway", sans-serif;
$font-sb: 600 1.25rem/1.5 "Raleway", sans-serif;
$font-big: 700 3.815rem/1 "Raleway", sans-serif;
$font-blk: 900 1.25rem/1.5 "Raleway", sans-serif;

$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;
$screen-custom: 1100px;
